.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 6px;
}

.icon {
  color: #ccc;
}

.breadcrumb a {
  text-decoration: none;
  color: #555;
}

.breadcrumb a:hover {
  color: #ee4d2d;
}

.current {
  color: #222;
  font-weight: 500;
}